header {
    width: 100%;
    padding: 24px;
}

.header__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
}

.header__section-h1 {
    font-family: var(--font-secondary);
    font-size: 2.5rem;
    color: var(--background-color);
    padding: 20px;
}

.header__section-nav-ul {
    list-style: none;
    display: flex;
    gap: 6rem;
    padding: 16px;
}

.header__section-nav-ul a {
    text-decoration: none;
    color: var(--background-color);
    font-weight: 600;
    font-size: 1.3rem;
    transition: 0.5s;
}

.header__section-nav-ul a:hover {
    color: var(--tertiary-color);
}

.header__section-nav-ul li {
    cursor: pointer;
    align-self: center;
}

.header__section-login {
    text-decoration: none;
    background-color: var(--tertiary-color);
    color: var(--text-color);
    font-weight: 800;
    font-size: 1.4rem;
    padding: 16px 64px;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    transition: 0.5s;
}

.header__section-login:hover {
    background-color: var(--secondary-color);
    color: var(--background-color);
    border: 2px solid var(--background-color);
}