/* styles/main.css */

/* IMPORTS */

/* Fontes Externas */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Variáveis */
@import url('_variables.css');

/* Componentes Reutilizáveis */
@import url('components/_header.css');
@import url('components/_footer.css');
@import url('components/_cards.css');
@import url('pages/_home.css');
@import url('pages/_about.css');
@import url('pages/_services.css');
@import url('pages/_specialities.css');
@import url('pages/_contact.css');

/* GLOBAIS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
    color: var(--text-color);
}

body {
    max-width: 90%;
    margin: 0 auto;
    background-color: var(--primary-color);
    line-height: 1.6;
    font-size: 16px;
    scroll-behavior: smooth;
}